@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Quicksand:wght@300;500;700&display=swap');

:root {
    --backgroundColor: black;
    --whiteColor: white;
    --darkColor: #121317;
    --lightColor: #D9D9D9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--backgroundColor);
}

/* ////////////////////////////////////////////////////////// Header ///////////////////////////////////////////////////////////////////////// */
header {
    width: 100%;
    height: 10rem;
    display: flex;
    position: relative;
    z-index: 99;
    transition: 0.5s;
    /* background-color: black; */
}

header .logo-container {
    display: flex;
    align-items: center;
    width: 75%;
}

header .logo-container img{
    margin-left: 12.6rem;
}

header nav{
    display: flex;
    align-items: center;
    width: 50%;
}

header nav ul{
    display: flex;
}

header nav ul a {
    margin-left: 4rem;
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: var(--whiteColor);
    text-decoration: none;
    z-index: 99;
    position: relative;
}

header nav ul a:hover {
    text-decoration: underline;
    cursor: pointer
}
.left-bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    
}
.right-bubble-container {
    top: 0;
    right: 0;
    position: absolute;
   
}
.right-bubble-container img{
    width: 75rem;
    z-index: 1;
}
/* ////////////////////////////////////////////////////////// End Header ///////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////// Main /////////////////////////////////////////////////////////////////////////// */
                            /* Main header */
main {
    width: 100%;
    
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main .main-header {
    /* padding: calc((100vh - 42.9rem) / 2) 0; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;    
    /* background-color: red; */
}
main .main-header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

main .main-header h1{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    /* font-size: 8.62105rem; */
    font-size: 6.3vw;
    color: var(--whiteColor);
    position: relative;
}

main .main-header h3{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    /* font-size: 40.7407px; */
    font-size: 3vw;
    background: -webkit-linear-gradient(180deg, #C143FC, rgba(82, 102, 255, 0.675156), #00D1FF, #00D1FF, #FFFFFF, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

main .main-header button{
    margin-top: 3rem;
    width: 22%;
    height: 6.2rem;
    background: -webkit-linear-gradient(0deg, #0094FF, #4F42FF, #4200FF);
    border-radius: 10rem;
    color: var(--whiteColor);
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    /* line-height: 10px; */
    position: relative;
    border: none;
    cursor: pointer;
}
main .main-header button:hover{
    background: -webkit-linear-gradient(0deg, #0288e7, #463be4, #3d02e2);
}
                            /* Main header */

                            /* Main about us */
main .about-us-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10vh;
    transition: none;
}

main .about-us-container article{
    width: 82.43%;
    height: 82.43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkColor);
    border-radius: 2rem;
    box-shadow: 0px 0px 22px var(--backgroundColor);
    position: relative;
    transition: none;
}
main .about-us-container article .tittle-cards {
    margin-top: 3.95%;
    width: 76.57%;
    height: 11.58%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 1rem;
}

main .about-us-container article .tittle-cards h4{
    /* padding: 2rem 0; */
    
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--whiteColor);
    transition: none;
}

main .about-us-container article .cards {
    padding: 1rem 0;
    width: 76.57%;
    height: 72.88%;
    display: flex;
    justify-content: space-around;
    /* background-color: #C143FC; */
}

/* Card Mitchell */
main .about-us-container article .cards .card-Mitchell{
    width: 25.29%;
    height: 100%;
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: none;
}

main .about-us-container article .cards .card-Mitchell:hover img{
    transform: scale(2) translateX(25%);
    cursor: pointer;
    
}

main .about-us-container article .cards .card-Mitchell img{
    transition: transform 1.5s;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* position: relative; */
    z-index: 1;
}

main .about-us-container article .cards .card-Mitchell .mini-info-Mitchell {
    display: none;
    width: 88.58%;
    height: 45.04%;
    background: rgba(255, 255, 255, 0.05);
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    z-index: 2;
}

main .about-us-container article .cards .card-Mitchell:hover .mini-info-Mitchell {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

main .about-us-container article .cards .card-Mitchell .mini-info-Mitchell h2{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    color: var(--whiteColor);
}

main .about-us-container article .cards .card-Mitchell .mini-info-Mitchell ul{
    width: 70%;
}
main .about-us-container article .cards .card-Mitchell .mini-info-Mitchell li{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 27px;
    color: var(--whiteColor);
}

main .about-us-container article .cards .card-Mitchell .mini-info-Mitchell button{
    /* margin-top: 1.5rem; */
    width: 57.49%;
    height: 19.08%;
    border: none;
    background-color: var(--whiteColor);
    border-radius: 1.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
/* Card Mitchell */

/* Card Kevind */

main .about-us-container article .cards .card-Kevind{
    width: 25.29%;
    height: 100%;
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: none;
}

main .about-us-container article .cards .card-Kevind:hover img{
    transform: scale(2) translateX(-25%);
    cursor: pointer;
    
}

main .about-us-container article .cards .card-Kevind img{
    transition: transform 1.5s;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* position: relative; */
    z-index: 1;
}

main .about-us-container article .cards .card-Kevind .mini-info-Kevind {
    display: none;
    width: 88.58%;
    height: 45.04%;
    background: rgba(255, 255, 255, 0.05);
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    z-index: 2;
}

main .about-us-container article .cards .card-Kevind:hover .mini-info-Kevind {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

main .about-us-container article .cards .card-Kevind .mini-info-Kevind h2{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    color: var(--whiteColor);
}

main .about-us-container article .cards .card-Kevind .mini-info-Kevind ul{
    width: 70%;
}
main .about-us-container article .cards .card-Kevind .mini-info-Kevind li{
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 27px;
    color: var(--whiteColor);
}

main .about-us-container article .cards .card-Kevind .mini-info-Kevind button{
    /* margin-top: 1.5rem; */
    width: 57.49%;
    height: 19.08%;
    border: none;
    background-color: var(--whiteColor);
    border-radius: 1.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.hiddenObject{
    display: none;
}
.information{
    display: none;
}
.information button{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    margin: 10px;    
}
.information button img{
    width: 3rem;
    height: 3rem;
    opacity: 1;
    object-fit: cover;
    cursor: pointer;
}

.informationShow{
    width: 82.55%;
    height: 80%;
    margin: 50% 20px 0 8.7%;
    padding: 150px 0 0 0;
    z-index: 99;
    position: absolute ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: white; */

}
.information .infoMitchellShow{
    background-color: #000000;
    width: 100%;
    height: 100%;
    /* padding: 200px; */
    position: absolute;
    z-index: 99;
    animation: FadeInUp 1s ease-out;
    margin: 0 0 15rem 0;
}

.information .infoMitchellShow h1{
    color: white;
}
.information .infoKevindShow{
    background-color: #000000;
    width: 100%;
    height: 100%;
    /* padding: 200px; */
    position: absolute;
    z-index: 99;
    animation: FadeInUp 1s ease-out;
    margin: 0 0 15rem 0;
}
.information .infoKevindShow h1{
    color: white;
}
.superior{
    /* margin: -20rem 0 0 -20rem; */
    /* background-color: green; */
    width: 100%;
    display: flex;
}
.BodyInfo{
    display: flex;
    /* background-color: rgb(255, 0, 0); */
    /* height: 100%; */
    /* margin: 0rem 0 20rem -20rem; */
    width: 100%;
}
.BodyInfo .imagen{
    width: 40%;
    height: 100%; 
    display: flex;
    /* margin-top: 2%; */
    border-radius: 20px;
    justify-content: center;
    /* align-items: flex-start;  */
    background: rgb(255,255,255);
    background: linear-gradient(0deg, #0095ff21 0%, rgba(0, 0, 0, 0.281) 48%);
    /* box-shadow: 0px 0px 5px 1px rgba(54, 54, 54, 0.63); */
}
.BodyInfo .imagen img{
    width: 100%;
    /* object-fit: contain; */
    border-radius: 20px;
    /* margin-top: -5rem; */
    position:relative;
    z-index:-1;
    /* display:block; */
  
}
.BodyInfo .texto{
    width: 60%;
    color: white;
    height: 100%;  
    padding: 0 1rem 0 2rem;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}
.BodyInfo .texto span{
    color: #0094FF;
}
.BodyInfo .texto h1{
    font-size: 25px;
    padding: 2vh 0 0 0;
    font-family:  'Amiko';
}
.BodyInfo .texto h2{
    font-size: 25px;
    font-family:  'Amiko';
}
.BodyInfo .texto p{
    font-family: 'Amiko';
    font-size: 15px;
}
.BodyInfo .texto .InfoProfesion{
    /* background-color: violet; */
    padding: 3vh 0 3vh 0;
}
.BodyInfo .texto .descripccionProfesion{
    /* background-color: rgb(105, 0, 105); */
    padding: 1vh 0 1vh 0;
}

.BodyInfo .texto .skills{
    text-align: center;
    padding: 2vh 0 0 0;
    font-size: 15px;
    /* background-color: red; */
}
.BodyInfo .texto .skillsLogos{
    display: flex;
    margin: 2rem 0 2rem 0;
    width: 100%;
    justify-content: space-around;
}
.BodyInfo .texto .skillsLogos img{
    width: 5rem;
    height: 5rem;
    /* margin: 0 2rem 0 0; */
}
.BodyInfo .texto .skillsLogos .Resaltado{
    width: 10rem;
    background-color: black;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 10rem;    
    transition: 0.5;
}
.BodyInfo .texto .skills .skillsLogos .Resaltado img{
    width: 6rem;
    height: 6rem;
    margin-top: 5px;    
}
.BodyInfo .texto .skillsLogos .Resaltado:hover{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 10rem; 
    transition: 0.5s;   
}
.BodyInfo .texto .skills .skillsLogos .Resaltado p{
   color: black;
   font-size: 13px;
   text-transform: uppercase;
   font-weight: bold;
}
.BodyInfo .botones{
    width: 100%; 
    height: 12vh;
    padding: 3% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;   
    /* background-color: green; */
}
.BodyInfo .botones button{
    width: 20%;
    height: 6rem;
    border-radius: 20px;
    padding: 0 2px 0 2px;
    background-color: #ffffff;
    margin: 0 0 0 2rem;
    display: flex;
    align-items: center;
    color: white;    
}
.BodyInfo .botones button:nth-child(2n){
    width: 20%;
    height: 6rem;
    border-radius: 20px;
    padding: 0 0 0 0;
    background-color: #14af00;
    margin: 0 2rem 0 13rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;    
}
.BodyInfo .botones button:hover{
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px white;
}
.BodyInfo .botones button:nth-child(2n):hover{
    background-color: #14af00;
    border-radius: 30px;
}
.BodyInfo .botones button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.center {
    display: table;
    width:70vw;
    float: right;
    height: 20px;
    margin: 0.1rem;
  }
  #social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 30px;
  }
  #social-test li {
    color: rgba(255, 255, 255, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: ease .3s;
  }
  #social-test a{
    text-decoration: none;
    color: white;
  }
  .social:hover > li {
    opacity: 0.5;
    border: 1px solid rgba(167, 146, 129, 1);
  }
  
  .social:hover > li:hover {
    opacity: 1;
    border: 1px solid rgba(167, 146, 129, 1);
  }

/* /////////////////////////////////////keyframes///////////////////////////////////////////////////////////////////// */
@keyframes fadeInDownKevind {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInDownMitchell {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes FadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
/* ////////////////////////////////////////////////////////// End Main /////////////////////////////////////////////////////////////////////// */
